<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.choongang.bcentral.mapper.NotificationSQLMapper">
	<select id="getNotificationList" resultType="com.choongang.bcentral.noti.vo.NotificationVo">
		select bn.nc_no, bn.nc_title, bn.nc_content, 
			   bn.nc_readCount, bn.nc_writeDate, 
			   bu.user_id, bu.user_no, bu.name 
		from bp_notification bn, bp_user bu
		where bn.user_no = bu.user_no
			<if test="searchWord !=null">
				AND nc_title iLIKE '%'||#{searchWord}||'%' OR nc_content iLIKE '%'||#{searchWord}||'%'
			</if>
		ORDER BY bn.nc_no desc
		LIMIT #{rows}   
		OFFSET (#{page} -1) * #{rows}
	</select>
	
	
	<select id="getNextNotificationNo" resultType="int">
		select nextval('BP_notification_seq')
	</select>
	
	
	<insert id="insertNotification">
		INSERT into bp_notification values(
			#{nc_no},
			#{user_no},
			#{nc_title},
			#{nc_content},
			#{nc_readCount},
			now()
		)
	</insert>
	
	<update id="updateNotification">
		UPDATE bp_notification
		SET nc_title=#{nc_title}, nc_content=#{nc_content}
		WHERE nc_no=#{nc_no} 
	</update>
	
	<delete id="deleteNotification">
		DELETE FROM bp_notification
		WHERE nc_no=#{nc_no}
	</delete>
	
	<select id="getNotification" resultType="com.choongang.bcentral.noti.vo.NotificationVo">
		SELECT * FROM bp_notification
		WHERE nc_no=#{nc_no}
	</select>
	
	<update id="increaseReadCount">
		UPDATE bp_notification
		SET nc_readCount=nc_readCount+1
		WHERE nc_no=#{nc_no} 
	</update>
	
	<select id="getNotificationCount" resultType="int">
		select COUNT(bps.*) from bp_notification bps
			<if test="searchWord !=null">
				WHERE nc_title iLIKE '%'||#{searchWord}||'%' OR nc_content iLIKE '%'||#{searchWord}||'%'
			</if>
	</select>
	
	<select id="getNextFileNo" resultType="int">
		select nextval('bp_file_seq')
	</select>
	
	<insert id="insertFile">
		INSERT into bp_file values(
			#{file_no},
			#{name},
			#{nc_no},
			#{fileName},
			#{uploadedFileName},
			#{fileSize},
			#{contentType},
			#{downlink}
		)		
	</insert>
	
	<select id="getFileVo" resultType="com.choongang.bcentral.noti.vo.FileVo">
		select file_no, name, nc_no, fileName, uploadedFileName, fileSize, contentType, downlink
		from bp_file
		where nc_no = #{nc_no}
	</select>
	
	<select id="getFileInfo" resultType="com.choongang.bcentral.noti.vo.FileVo">
		select file_no, name, nc_no, fileName, uploadedFileName, fileSize, contentType, downlink
		from bp_file
		where file_no = #{file_no}
	</select>
	
		<select id="PREBNO" resultType="int">
		SELECT PREBNO FROM(
		SELECT 
    		nc_no,
    		LAG(nc_no,1,-1) OVER(ORDER BY nc_no ASC) AS PREBNO,
    		LEAD(nc_no,1,-1) OVER(ORDER BY nc_no ASC) AS NEXTBNO 
		FROM bp_notification
		) n
		WHERE n.nc_no=#{nc_no}
	</select>
	
	<select id="NEXTBNO" resultType="int">
		SELECT NEXTBNO FROM(
		SELECT 
    		nc_no,
    		LAG(nc_no,1,-1) OVER(ORDER BY nc_no ASC) AS PREBNO,
    		LEAD(nc_no,1,-1) OVER(ORDER BY nc_no ASC) AS NEXTBNO 
		FROM bp_notification
		) n
		WHERE n.nc_no=#{nc_no}
	</select>
	
	
	<select id="getFileList" resultType="com.choongang.bcentral.noti.vo.FileVo">
		SELECT bp_file.file_no, bp_file.name, bp_file.nc_no, bp_file.fileName, bp_file.uploadedFileName,
		bp_file.fileSize, bp_file.contentType, bp_file.downlink
		FROM bp_file
		WHERE nc_no = #{nc_no}
	</select>
</mapper>