<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.brainz.ja.mapper.jbUserSQLMapper">
	<select id="selectUser" resultType="com.brainz.ja.vo.jbUserVo">
		select * from bp_user where user_id = #{user_id}
	</select>
	
	<select id="getAuthList" resultType="String">
		select authority from bp_user where user_id = #{user_id}
	</select>
	
	<insert id="insertUser">
		insert into bp_user values (
			nextval('bp_user_seq'),
			#{user_id},
			#{user_pw},
			#{name},
			#{authority},
			#{phone},
			#{email},
			#{dsc},
			now()
		)
	</insert>
	
	
	
</mapper>