<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.brainz.ja.mapper.UserSQLMapper">
	<select id="selectUser" resultType="com.brainz.ja.vo.UserVo">
		select * from bp_user where user_id = #{user_id}
	</select>
	
	<select id="getAuthList" resultType="String">
		select authority from bp_user where user_id = #{user_id}
	</select>
	
	<insert id="registerUser">
		insert into bp_user values (
			nextval('bp_user_seq'),
			#{user_id},
			#{user_pw},
			#{name},
			#{authority},
			#{phone},
			#{email},
			#{dsc},
			now()
		)
	</insert>
	
	<select id="getUserList" resultType="map">
		select bpu.* from bp_user bpu
	<if test="searchWord !=null">
		where user_id iLIKE CONCAT('%',#{searchWord},'%') OR name iLIKE CONCAT('%',#{searchWord},'%')
	</if>
		order by user_no desc	
 	</select>


	<select id="getUser" resultType="com.brainz.ja.vo.UserVo">
		select * from bp_user
		where user_no = #{user_no}
	</select>
	
	<delete id="deleteUser">
		delete from bp_user
		where user_no=#{user_no}
	</delete>
	
	<update id="updateUser">
		update bp_user 
		set user_id=#{user_id}, name=#{name}, authority=#{authority}, phone=#{phone}, 
			email=#{email}, dsc=#{dsc}
	</update>
	
	<select id="getCountById" resultType="int">
		select count(*) from bp_user 
		where user_id = #{user_id}
	</select>
   
	<update id="lastLogin">
	   update bp_user
	   set last_login = now()
	   where user_id = #{user_id}
	</update>
	
	
</mapper>