@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');



#scheduleBox{width: 100%;background: #fff;border-radius: 10px;height: 800px;border: 1px solid #e9e9ee;height: 100%;}
#box{
    margin: 30px 0px 100px 350px;
    width: 100%;
    padding-right: 400px;
    }
#container{
    position: absolute;
    top: 0;
    left: 0;
    background: #f3f3f6;
    width: 100%;
}
.writeBtn{
	width: 85px;
    height: 45px;
    font-weight: 500;
    border: 1px solid #18244d;
    border-radius: 7px;
    cursor: pointer;
    color: #222;
	background: #fff;
	font-size: 16px;
	transition: 0.3s;
}
.writeBtn:hover{
	background: #18244d;
    color: #fff;
}     
#content{
    display: flex;
}

#top{display: flex;justify-content: space-between;padding: 30px 30px 30px 30px;}
#gnb{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    padding: 0px 38px 0px 38px;
    align-items: center;
}
#gnb .icon{}
.iconBox{
    display: flex;
    align-items: center;
}
#gnb .icon .iconText{font-size: 16px;font-weight: 500;}
.profile{
    width: 45px;
    margin-right: 15px;
}





#modal{
	display:none;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 99;
	height: 100%;
}
#modal .window {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  }
#modal .modalBox{
    background: #fff;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    align-content: center;
    width: 850px;
    height: 900px;
    }
#modal .modalBox .top{
    background: #18244d;
    height: 50px;
    color: #fff;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 0px 20px;
}
#modal .modalBox .top .title{
}
#modal .modalBox .top .bi-x{
    font-size: 24px;
    cursor: pointer;
    margin-top: -4px;
}

#modal .modalBox .titleBox{
    border-top: 1px solid #e5e5e5;
    padding: 20px 0px 20px 20px;
}
#modal .modalBox .titleBox .text{
    font-size: 16px;
    font-weight: 500;
    width: 105px;
    display: inline-flex;
}
.star{
    margin-left: 10px;
    color: red;
    vertical-align: middle;
}
#modal .modalBox .titleBox .textBox{
    border: 1px solid #ccc;
    height: 35px;
    width: 500px;
    padding-left: 10px;
    font-size: 17px;
    font-weight: 300;
}

.confirmAlertBox{
	display:none;
	margin-top: 6px;
	font-weight:300;
	font-size: 14px;
}
.titleText{display:inline-grid}
#confirmAlertBox4{
	display: none;
	margin-left: 27px;
	font-weight: 300;
	font-size: 15px;
}

#modal .modalBox .dateBox{
    border-bottom: 1px solid #e5e5e5;
    padding: 20px 0px 20px 20px;
    display: flex;
    align-items: center;
    border-top: 1px solid #e5e5e5;
    }
#modal .modalBox .dateBox .text{font-size: 16px;font-weight: 500;}
#modal .modalBox .dateBox .radioBox{
    margin-left: 45px;
    color: #222;
    font-weight: 300;
    font-size: 16px;
}
#modal .modalBox .dateBox .radioBox .datepicker{
    height: 35px;
    border: 1px solid #999;
    width: 150px;
    padding: 8px;
    font-size: 17px;
    font-weight: 300;
    background-image: url('../img/calendar.svg');
    background-repeat: no-repeat;
    background-position: 95% 50%;
    opacity: 0.5;
}
.ing{
    margin: 6px 20px 0px 20px;
    font-size: 18px;
}
.timearr{
    margin-left: 15px;
    margin-bottom: 10px;
}
.all{
    margin-top: 0.6vw;
}
.limitless{
    margin-top: 1vw;
}

.day{
    margin-left: 20px;
}

.checkAll{margin-right:20px;margin-left: 3px;}

#modal .modalBox .timeBox{
    padding: 20px 0px 20px 20px;
    display: flex;
    align-items: center;
    }
#modal .modalBox .timeBox .text{
    font-size: 16px;
    font-weight: 500;
}
#modal .modalBox .timeBox .radioBox{
    margin-left: 45px;
    font-weight: 300;
    color: #222;
    font-size: 16px;
}
#modal .modalBox .timeBox .dayBox{
    height: 25px;
    width: 40px;
    margin: 0px 3px 0px 3px;
    border: 1px solid #ccc;
    padding-left: 5px;
    font-size: 16px;
    font-weight: 300;
}
#modal .modalBox .timeBox .btnDay:first-child{margin-right:20px}
#modal .modalBox .timeBox .btnDay{
    margin-top: 10px;
    height: 30px;
    width: 60px;
    margin-left: 3px;
    background: none;
    border: 1px solid #ccc;
    font-size: 15px;
    color: #888;
    font-weight: 300;
}
#modal .modalBox .timeBox .active{
	background:#313131;
	border: 1px solid #313131;
	color:#fff
}
#modal .modalBox .timeBox .timepicker{
    height: 33px;
    width: 130px;
    border: 1px solid #ccc;
    padding-left: 8px;
}

#modal .modalBox .listBox{
    background: #f3f3f3;
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    padding: 15px 20px 15px 20px;
    vertical-align: middle;
}
#modal .modalBox .listBox .text{
    font-size: 16px;
    font-weight: 500;
    margin-top: 5px;
}

.btnList{
 display: flex;
}
.btnList .btn1{
    background: #fff;
    border: 1px solid #ccc;
    width: 55px;
    height: 30px;
    font-size: 14px;
    margin-right: 4px;
    border-radius: 5px;
    color: #777;
    display: grid;
    align-content: center;
}
.ui-datepicker-trigger{
    width: 23px;
    vertical-align: sub;
    margin-left: 10px;
    opacity: 0.3;
}

.serverList{
    display: grid;
    height: 300px;
    overflow-y: auto;
}
.serverList .serverHeader{
    display: flex;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}
.serverList .serverHeader .serverHeaderText{
	border-right: 1px solid #ccc;
	padding-top: 13px;
	padding-bottom: 18px;
	border-bottom: 1px solid #ccc;
}
.serverList .serverHeader .serverHeaderText:nth-child(1){
    width: 7%;
}
.serverList .serverHeader .serverHeaderText:nth-child(2){
    width: 33.3%;
}
.serverList .serverHeader .serverHeaderText:nth-child(3){
    width: 33.3%;
}
.serverList .serverHeader .serverHeaderText:nth-child(4){
    width: 33.3%;
    border-right: none;
}
.serverList .serverContent{
    text-align: left;
    display: flex;
    border-bottom: 1px solid #ccc;
    height: 45px;
    font-weight: 300;
    font-size: 16px;
}

.serverList .serverContent .serverContentText:nth-child(1){width: 7%;text-align: center;}
.serverList .serverContent .serverContentText:nth-child(2){
    width: 33.3%;
    padding-left: 15px;
}
.serverList .serverContent .serverContentText:nth-child(3){
    width: 33.3%;
    padding-left: 15px;
}
.serverList .serverContent .serverContentText:nth-child(4){
   width: 33.3%;
   text-align: center;
   border: none;
}


.serverList .serverContent .serverContentText{
    border-right: 1px solid #ccc;
    padding-top: 12px;
}
.btnBox{
	padding-right: 20px;
	display: flex;
	justify-content: flex-end;
}

.btnBox .btnBoxbtn{
    width: 80px;
    height: 40px;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
	background: #18244d;
	font-size: 15px;
	margin-left: 10px;
	border: none;
}

#radioBox3 .timepicker{
    height: 33px;
    width: 130px;
    border: 1px solid #ccc;
    padding-left: 8px;
}



#timepickerBox{display: flex;margin-top: 10px;}

#timepicker-selectbox{
}

#timepicker-selectbox2{
}

#radioBoxRepeat{
    display: flex;
}

#radioBoxRepeat .ing{margin: 0.3vw 1vw;}
#radioBoxRepeat .repeatBox{
    display: flex;
}

.imgBox{
    width: 25px;
    align-content: center;
    display: grid;
    opacity: 0.5;
    margin-left: 10px;
}
.imgBox img{width: 100%;}

#timepickerBox .ing{margin: 7px 12px;}

#timepickerBox2{display: none;margin-top: 10px;}

.noneBox{display:none}

#serverModal{
	display:none;
	z-index: 999;
	background: #fff;
	border: 1px solid #222;
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
#serverModalBox{
	overflow: hidden;
}


/* 바디에 스크롤 막는 방법 */
.not_scroll{
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%
}
.not_scroll .cont {
    position: relative;
    top: 0;
}



.btnBox2{
    display: flex;
    float: right;
    margin: 10px 20px 20px 0px;
}


.btnBoxbtn2{
    margin-left: 8px;
    height: 47px;
    width: 90px;
    font-size: 17px;
    background: #353c40;
    border-radius: 5px;
    border: none;
    color: #fff;
}


.btnBoxbtn3{
    margin-left: 8px;
    height: 47px;
    width: 90px;
    font-size: 17px;
    background: #353c40;
    border-radius: 5px;
    border: none;
    color: #fff;
}


.ui-jqgrid .ui-jqgrid-htable{width:100%}


.pBox{
    display: contents;
    vertical-align:middle;
}



.datetimepicker{
    border: 1px solid #999;
    height: 35px;
    width: 150px;
    padding: 8px;
    font-size: 18px;
    font-weight: 300;
    background-image: url('../img/alarm.svg');
    background-position: 95% 50%;
    background-repeat: no-repeat;
    opacity: 0.5;
}

#datetimepicker2{
    height: 35px;
    width: 150px;
    padding-left: 8px;
    font-size: 18px;
    font-weight: 300;
}

#deleteRadio{
	display:none;
	background-color: rgba(0, 0, 0, 0.3);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
	height: 100%;
}
#deleteRadio .radioBox{
	width: 350px;
	background: #fff;
	z-index: 9999;
	transition: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	position: fixed;
	top: 50%;
	left: 50%;
	padding: 30px 0px 10px 30px;
	font-size: 14px;
	box-shadow: 0 2px 20px rgb(0 0 0 / 30%);
}
#deleteRadio .radioBox .radioBoxList{
    display: flex;
    margin-bottom: 20px;
}
#deleteRadio .radioBox .radioBoxList .sapnRadio{
    display: grid;
    margin-left: 4px;
}

.tbodyBox{
    height: 250px;
}
.fc .fc-daygrid-day.fc-day-today{background:#f2f3f4}

.box{
	height: 60px;
	width: 100%;
	color:#fff;
	text-align: left;
	padding-top: 19px;
	font-size: 19px;
	font-weight: 400;
	background: #353c40;
	padding-left: 30px;
}
#radioBoxRepeat2{
	display:none
}
.start{
	margin-bottom: 5px;
}
#datetimepicker3{
	margin-left:5px
}
#datetimepicker4{
	margin-left:5px
}