@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');





#container{
    position: absolute;
    top: 0;
    left: 0;
    background: #f3f3f6;
    width: 100%;
    height: 100%;
    overflow-y: auto;
overflow-x: hidden;}
#box{
    margin: 30px 0px 100px 350px;
    width: 100%;
    padding-right: 380px;
    }
#first{display: grid;/* height: 100%; */width: 100%;/* row-gap: 30px; */grid-template-columns: 65% 35%;grid-template-rows: 520px;}

.title{
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 50px;
}
#doughnutBox{
    width: 50%;
    background: #fff;
    padding: 40px 40px 70px 40px;
    border-radius: 20px;
    border: 1px solid #e9e9ee;
    margin-right: 30px;
}
.doughnutBox2{margin: auto;display: flex;justify-content: center;width: 250px;}
.doughnutUl{
    display: grid;
    margin-left: 55px;
}
.doughnutUl .doughnutList{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
}
.doughnutUl .doughnutList .colorBox{
    width: 9px;
    height: 9px;
    margin-right: 10px;
}
.doughnutUl .doughnutList:nth-child(1) .colorBox{background: #3d5fac;}
.doughnutUl .doughnutList:nth-child(2) .colorBox{background: #e54e6d;}
.doughnutUl .doughnutList:nth-child(3) .colorBox{background: #f8c631;}
.doughnutUl .doughnutList .titleBox{
color: #777;
}

#scheduleBox{
    padding: 40px 40px 40px 40px;
    background: #fff;
    border: 1px solid #e9e9ee;
    /* width: 30%; */
    border-radius: 20px;
    /* overflow-y: auto; */
    height: 920px;
    margin-left: 30px;
}
#scheduleBox .scheduleUl{}
#scheduleBox .scheduleUl .scheduleList{
    display: flex;
    align-items: center;
    margin-bottom: 41px;
}
#scheduleBox .scheduleUl .scheduleList .circle{
    border-radius: 50%;
    background: #6b65d3;
    width: 1em;
    height: 1em;
    display: block;
    margin-right: 25px;
}
#scheduleBox .scheduleUl .scheduleList .time{font-family: 'Montserrat';font-weight: 500;margin-right: 30px;margin-top: 2px;font-size: 1.9em;}
#scheduleBox .scheduleUl .scheduleList .text{
    font-weight: 400;
    font-size: 1.7em;
    color: #858585;
}


#box2{
    display: flex;
    /* margin-top: 40px; */
    height: 400px;
    /* width: 70%; */
/* position: relative; *//* bottom: 90%; */}
#noticeBox{
    padding: 40px 40px 40px 40px;
    background: #fff;
    border: 1px solid #e9e9ee;
    width: 50%;
    border-radius: 20px;
}
#noticeBox .noticeBox2{}
#noticeBox .noticeBox2 .noticeUl{}
#noticeBox .noticeBox2 .noticeUl .noticeList{
    display: flex;
    border-bottom: 1px solid #ccc;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}
#noticeBox .noticeBox2 .noticeUl .noticeList:last-child{border:none}
#noticeBox .noticeBox2 .noticeUl .noticeList .titleList{
    font-size: 16px;
    color: #222;
}
#noticeBox .noticeBox2 .noticeUl .noticeList .date{font-family: 'Montserrat';color: #888;font-weight: 400;font-size: 15px;}
#doughnut{
    /* width: 70%; */
    /* display: flex; */
height: 500px;}
.titleB{
    display: flex;
    justify-content: space-between;
}
.more{
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 500;
    color: #999;
    display: inline-flex;
    margin-right: 10px;
}
#bar{
	width: 100%;
	background: #fff;
	padding: 40px 40px 70px 40px;
	border-radius: 20px;
	border: 1px solid #e9e9ee;
	margin-right: 30px;
}
#bar .barBox{
    display: flex;
}
.barUl{
	display: none;
	margin-top: 50px;
	width: 600px;
}
.barUl .barList{
	font-size: 23px;
    display: flex;
    align-items: center;
    margin: auto;
}
.barUl .barList .colorBox{
    width: 15px;
    height: 15px;
    margin-right: 10px;
}
.barUl .barList:nth-child(1) .colorBox{background: #E0272F;}
.barUl .barList:nth-child(2) .colorBox{background: #FFCC00;}
.barUl .barList:nth-child(3) .colorBox{background: #5E4BC9;}
.barUl .barList:nth-child(4) .colorBox{background: #e8e8e8;}
.barUl .barList .titleBox{
color: #777;
}
.barBar{margin-right: 50px;width: 880px;}
.barBar2{
    display: flex;
    width: 100%;
    height: 300px;
    overflow: hidden;
    }
.barUl2{width: 50%;margin-right: 30px;}
.barUl2 .barList2{
    font-size: 16px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    font-weight: 300;
    margin-right: 30px;
    width: 100%;
    }
.colorBox2{
	width:10%
}
.barUl2 .barList2 .colorBox2 .titleBox{
	width:90%
}
.barUl2 .barList2 .colorBoxRed{
	width: 9px;
	height: 9px;
	margin-right: 13px;
	background: #E0272F;
}
.barUl3{height: 170px;width: 50%;}
.barUl3 .barList2{
    font-size: 16px;
    margin-bottom: 30px;
    display: inline-flex;
    align-items: center;
    font-weight: 300;
    margin-right: 30px;
    width: 100%;
    }
.barUl3 .barList2 .colorBoxRed{
	width: 9px;
	height: 9px;
	background: #FFD25A;
	margin-right: 13px;
	}
#gnb{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    padding: 0px 38px 0px 38px;
    align-items: center;
}
#gnb .icon{}
.iconBox{
    display: flex;
    align-items: center;
}
#gnb .icon .iconText{font-size: 16px;font-weight: 500;}
.profile{
    width: 45px;
    margin-right: 15px;
}

.titleC{
    display: flex;
    justify-content: space-between;
}
.titleC .subText{
    margin-right: 10px;
    font-size: 22px;
}
.titleC .subText2{
    font-size: 25px;
    font-family: 'Montserrat';
    font-weight: 600;
}
.titleD{
    padding-top: 60px;
    display: grid;
}
.titleE{
    display: flex;
}
.titleE:last-child{
	margin-top:-20px
}