@charset "utf-8";
@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

video {
	position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

* {
	margin: 0; 
	padding: 0; 
	box-sizing: border-box;
}

body{
  	font-family: 'NanumSquareRound', 'Noto Sans KR', sans-serif;
    background-size: cover;
}

body::before {
    content:"";
    position: absolute; 
	z-index: 1;
    top: 0; right: 0; bottom: 0; left: 0;
}

/* 상단 */
header{
	height: 10vh;
	position: relative; 
}

/* 하단 */
footer{
	height: 5vh;
	position: relative; 
	display: block;
}

footer p {
	text-align: center;
	font-size: 13px; 
	color: #fff;
}

/* 메인 */
section {
	position: relative; 
	z-index: 2;
	display: flex;
	justify-content: center;
    align-items: center;
    height: 83vh;
}

section form .input-group {
    width: 400px; 
    position: relative;
    margin-top: 30px;
}

section form input-group:first-child {margin-top: 0;}

section form .input-group input {
    width: 100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-size: 18px; 
    color: #fff;
    outline: none;
}

section form .input-group label {
    position: absolute; left: 10px; top: 15px;
    font-size: 18px; color: #fff;
    transition: all .5s ease;
}

section form .input-group label.warning {
    color: red !important;
    animation: warning .3s ease;
    animation-iteration-count: 3;
}

@keyframes warning {
    0% {transform: translateX(-8px);}
    25% {transform: translateX(8px);}
    50% {transform: translateX(-8px);}
    75% {transform: translateX(8px);}
}

section form .input-group input:focus + label,
section form .input-group input:valid + label {
    top: -5px;
    font-size: 15px; 
    color: #166cea;
}

section form .btn-area {margin-top: 30px;}
section form .btn-area button {
    width: 100%; 
    height: 50px;
    background: transparent;
    color: #fff;
    border-radius: 10px;
    border: none;
    border: 1px solid #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: all .3s ease;
}

section form .btn-area button:hover {
	background: #166cea;
}

section form .Message p {
	margin-top: 8px;
	font-size: 16px; 
	font-weight: bold;
	text-align: left;
	color:red !important;
}