@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');



.navBar ul .pageList:nth-child(1) .imgNav{width: 30px;}
.navBar ul .pageList:nth-child(2) .imgNav{}
.navBar ul .pageList:nth-child(3) .imgNav{}
.navBar ul .pageList:nth-child(4) .imgNav{}
.navTitle{
    margin-left: 15px;
}
.navBox{
    display: flex;
    align-items: center;
padding-left: 40px;}
.imgNav{
    width: 25px;
}

.headerName{
    font-size: 28px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
padding-left: 40px;}
.navBar{
    width: 300px;
    background: #18244d;
    position: fixed;
    height: 100%;
    z-index: 99;
    
    color: #fff;
    display: grid;
    grid-template-rows: 0.4fr 5fr 1fr;
    
    padding-top: 40px;}

.navBar ul .pageList:first-child{}
.navBar ul .pageList{
    height: 90px;
    font-size: 18px;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    color: #fff;
    display: flex;
align-items: center;}
.navBar ul .on{
    background: #314279;
}
#content{
    display: flex;
    height: 100%;
}
.language2{padding-left: 40px;}
.language2 .languageBox2{font-size: 18px;display: inline-flex;margin-right: 40px;font-family: 'Montserrat';font-weight: 600;color: #314279;line-height: 1.5;cursor: pointer;}
.language2 .languageBox2:last-child{margin-right:0px}
.language2 .languageBox2 .languageText{}
.language2 .onn{border-bottom: 3px solid #fff;width: 24px;color: #fff;font-weight: 600;}